<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:include="fragments/client/header"></th:block>
</head>
<th:block th:include="fragments/client/topNav"></th:block>
<!-- 게스트하우스 리스트 [s] -->
<body>
	<section class="m-t-20 m-b-20">
	<div class="container">
		<div class="title_box m-b-20">
			<h5>원하시는 숙소를 찾아보세요.</h5>
		</div>
		<div class="row">
			<!-- 왼쪽 사이드바 [s] -->
			<div class="tit_and_tab_module col-lg-3 col-md-3">
				<div class="tab_btn_box_stay_list">
					<div class="tab_btn is_active">
						<span class="stay_kind_img"><i class="fas fa-home"></i></span>
						<span class="stay_kind">게하모 숙소</span>
					</div>
					<div class="tab_btn">
						<span class="stay_kind_img"><i class="fas fa-home"></i></span>
						<span class="stay_kind">제주</span>
					</div>
					<div class="tab_btn">
						<span class="stay_kind_img"><i class="fas fa-home"></i></span>
						<span class="stay_kind">서귀포</span>
					</div>
				</div>
			</div>
			<!-- 왼쪽 사이드바 [e] -->

			<!-- 오른쪽 게스트하우스 리스트 [s] -->
			<div class="col-lg-9 col-md-9">
				<div class="serch_total">
					<h6 class="m-b-0">검색된 숙소 <strong>${search_data_total}</strong>개</h6>
				</div>
				<div class="tit_and_info_area">
					<h3 class="m-b-0">숙소</h3>
				</div>

				<div class="post_list">
						<div class="no_list_box p-t-180 p-b-180">
							<div class="no_list_txt_box">
								검색된 숙소가 없습니다.
							</div>
						</div>
						<div class="list_box">
							<div class="list_item_link" onclick="location.href='gh_details_page?NO=${search_data.NO}'" style="cursor:pointer;">
								<div class="list_contents-left">
									<div class="thumbnail_box">
										<img src="resources/assets/main/gh_img/${search_data.THUMBNAIL}">
									</div>
								</div>
								<div class="list_contents-right">
									<div class="list_txt_top">
										<div class="translated_name_and_name">${search_data.PARTNER_NAME}</div>
										<div class="added_info">
											<div class="location">${search_data.ADDR}</div>
										</div>
									</div>
									<div class="list_txt_bottom">
										<div class="added_info-mid">
											<div class="dot_list">즉시예약 · 전액결제</div>
										</div>
										<div class="added_info-last">
											<div class="facilities">${search_data.PUBLIC_FACILITY}</div>
										</div>
										<div class="essential_info">
											<div class="no_result__review">리뷰 ${search_data.CNT}</div>
											<div class="wish_total">좋아요 ${search_data.LIKES}</div>
										</div>
									</div>

									<div class="price_box">
										<div class="month_stay_price">
											<div>
												<div class="number_of_nights">1박</div>
											</div>
											<div class="current_price">
												<b style="color: #000000">
														${search_data.PRICE}원
												</b>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div>

				</div>
			<!-- 오른쪽 게스트하우스 리스트 [e] -->
		</div>
	</div>
</section>
</body>
<th:block th:include="fragments/client/footer"></th:block>
<html>
