<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="resources/assets/main/img/import/img/logo.png" alt="게하모">
                            </a>
                        </div>
                        <ul>
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                서울특별시 관악구 남부순환로 144길 35
                            </li>
                            <li>
                                <i class="fas fa-phone"></i>
                                +8210 3273 5418
                            </li>
                            <li>
                                <i class="fas fa-envelope"></i>
                                rmsehd93@naver.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <br><br><br>
                        <ul>
                            <li>
                                <a href="#">회사소개</a>
                            </li>
                            <li>
                                <a href="#">파트너</a>
                            </li>
                            <li>
                                <a href="#">환불규정</a>
                            </li>
                            <li>
                                <a href="notice_page">고객센터</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <br><br><br>
                        <ul>
                            <li>
                                <a href="#">이용약관</a>
                            </li>
                            <li>
                                <a href="#">개인정보처리방침</a>
                            </li>
                            <li>
                                <a href="#">사업자정보확인</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#" target="_blank">JerryKim</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- JS -->


<script src="/ui/client/data-components/sign_up/user_sign_up.js"></script>
<script src="/ui/client/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/ui/client/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/ui/client/js/popper.min.js"></script>
<script src="/ui/client/js/bootstrap.min.js"></script>
<script src="/ui/client/js/owl.carousel.min.js"></script>
<script src="/ui/client/js/isotope.pkgd.min.js"></script>
<script src="/ui/client/js/ajax-form.js"></script>
<script src="/ui/client/js/waypoints.min.js"></script>
<script src="/ui/client/js/jquery.counterup.min.js"></script>
<script src="/ui/client/js/imagesloaded.pkgd.min.js"></script>
<script src="/ui/client/js/scrollIt.js"></script>
<script src="/ui/client/js/jquery.scrollUp.min.js"></script>
<script src="/ui/client/js/wow.min.js"></script>
<script src="/ui/client/js/nice-select.min.js"></script>
<script src="/ui/client/js/jquery.slicknav.min.js"></script>
<script src="/ui/client/js/jquery.magnific-popup.min.js"></script>
<script src="/ui/client/js/plugins.js"></script>
<script src="/ui/client/js/gijgo.min.js"></script>
<script src="/ui/client/js/slick.min.js"></script>
<script src="/ui/client/js/contact.js"></script>
<script src="/ui/client/js/jquery.ajaxchimp.min.js"></script>
<script src="/ui/client/js/jquery.form.js"></script>
<script src="/ui/client/js/jquery.validate.min.js"></script>
<script src="/ui/client/js/mail-script.js"></script>
<script src="/ui/client/js/main.js"></script>
<!--다음 지도 API-->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
