<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>RES</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="resources/assets/main/img/import/img/icon.png">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />

    <!--<link rel="stylesheet" type="text/css" href="/project/resources/login_css/util.css">-->
    <link rel="stylesheet" type="text/css" href="/ui/client/login_css/util.css">
    <link rel="stylesheet" type="text/css" href="/ui/client/login_css/main.css">
    <link rel="stylesheet" href="/ui/client/css/slicknav.css">
    <link rel="stylesheet" href="/ui/client/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/client/css/style.css">
    <link rel="stylesheet" href="/ui/client/css/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>