<div id="header">
    <h1 class="logo"><a href="/"><img src="/ui/admin/images/common/logo1.png" alt="RES" /></a></h1>
    <a href="javascript:;" class="btn_menu"><span></span></a>
    <!--<a href="/app/appDown" class="btn btn_sm btn_app" target="_blank"><i class="material-icons">get_app</i>APP 다운로드</a>-->
</div>

<div id="lnb" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="user_area">
        <div class="user_info">
            <i class="material-icons">dashboard</i>
            <p>
                <th:block th:if="${T(kr.co.team.res.domain.enums.UserRollType).valueOf(#authentication.principal.account.mberDvTy).getName() eq '협력사'}" >
                    <span>
                        파트너님 환영합니댜.
                    </span>
                </th:block>
            </p>
        </div>
        <ul class="user_menu clearfix">
            <li><a href="/partners/management"><i class="material-icons">home</i></a></li>
            <li><a href="/"><i class="material-icons">settings</i></a></li>
            <li><a href="/logout"><i class="material-icons">power_settings_new</i></a></li>
        </ul>
    </div>
    <ul class="lnb">
        <!--menu html-->
    </ul>
</div>

<script type="application/javascript">
    $(function () {
        fn_makeMenu();
    });

    function fn_makeMenu() {
        var jsonData = {
        };

        $.ajax({
            type: 'post',
            url: '/api/partners/menu/lnb',
            contentType: false,
            processData: false,
            //enctype: 'multipart/form-data',
            data: jsonData,
            datatype: 'json',
            success: function (data) {
                if (data == null) {
                    alert('로그인이 필요합니다.');
                    location.href = '/pages/login'
                }
                var menuHtml = '';
                for (var i = 0; i < data.length; i++) {

                    menuHtml += '<li>\n' +
                        '   <a href="#">' +data[i].menuNm+ '</a>\n' +
                        '   <ul class="depth">\n';

                    $.each(data[i].lnbs, function (index, lnb){
                        menuHtml += '                <li><a href="' + lnb.menuUrl+ '">' +lnb.menuNm+ '</a></li>\n';
                    });
                    //'                <li><a href="#">TO-DO 리스트</a></li>\n' +

                    menuHtml += '    </ul>\n';
                    menuHtml += '</li>';
                }

                $('.lnb').html(menuHtml);
                //$('#gnb').eq(0).addClass('active');

                //lnb
                $('.lnb > li').each(function(){
                    var li = $(this);
                    li.children('a').on('click',function(e){
                        if($(this).attr('href') == '#'){
                            e.preventDefault();
                        }
                        li.toggleClass('active').children('.depth').stop().slideToggle()
                        li.siblings().removeClass('active').children('.depth').stop().slideUp()
                    })
                    if(li.hasClass('active')){
                        li.children('.depth').show()
                    }else{
                        li.children('.depth').hide()
                    }

                    li.find('.depth > li').each(function(){
                        var depthLi = $(this),
                            href = depthLi.children('a').attr('href'),
                            pathName = $(location).attr('pathname');
                        if(href == pathName){
                            depthLi.addClass('active').parent('.depth').show().parent('li').addClass('active')
                        }
                    })
                })

                //lnb 접기 : 200608 추가
                $('.btn_menu').on('click',function(){
                    $(this).parents('#wrap').toggleClass('close')
                })

            },
            error: function (error) {
                //alert('save error!!!');
                alert('로그인이 필요합니다.');
                location.href = '/pages/login'
            }
        });
    }

</script>