<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<script src="resources/data-components/search/search.js"></script>

<header>
	<div id="top-sticky-header" class="top-main-header-area d-none d-md-block">
		<div class="top-container-fluid">
			<div class="header_bottom_border">
				<div class="row align-items-center">
					<div class="col-md-12 d-none d-md-block">
						<div class="social_wrap d-flex align-items-center justify-content-end">
							<th:block th:if="${#authorization.getAuthentication() != null and #authorization.expression('isAuthenticated()')}">
								<a class="top-a-tag"><th:block sec:authentication="principal.account.ncnm"></th:block>님</a>
								<a href="/pages/mypage/info" class="top-a-tag">내정보</a>
								<th:block sec:authorize="hasAnyRole('ROLE_PARTNERS')">
								<a href="/partners/management" class="top-a-tag">나의 매장관리</a>
								</th:block>
								<th:block>
								<a href="/logout" class="top-a-tag">로그아웃</a>
								</th:block>
							</th:block>

							<th:block th:unless="${#authorization.getAuthentication() != null and #authorization.expression('isAuthenticated()')}">
								<a href="/pages/login" class="top-a-tag sp_active">로그인</a>
								<a href="/pages/register" class="top-a-tag">회원가입</a>
							</th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-area ">
		<div id="sticky-header" class="main-header-area">
			<div class="container-fluid" id="mid-nav-wd">
				<div class="header_bottom_border">
					<div class="row align-items-center">
						<div class="col-xl-2 col-lg-2">
							<div class="logo">
								<a href="/">
									<img src="/ui/client/img/logo/res.png" alt="로고" class="bg_logo">
								</a>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a href="#">예약</a></li>
										<li><a href="#">지역별</a></li>
										<li><a href="#">이벤트</a></li>
										<li><a href="#">고객센터</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- 헤더 [e] -->