<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<script src="resources/data-components/search/search.js"></script>

<!-- 헤더 [s] -->
<header>
	<div id="top-sticky-header" class="top-main-header-area d-none d-md-block">
		<div class="top-container-fluid">
			<div class="header_bottom_border">
				<div class="row align-items-center">
					<div class="col-md-12 d-none d-md-block">
						<div class="social_wrap d-flex align-items-center justify-content-end">
								<a href="my_page1" class="top-a-tag">내정보</a>
								<a href="logout" class="top-a-tag">로그아웃</a>
								<a href="notice_page" class="top-a-tag">고객센터</a>
								<a href="login_page" class="top-a-tag sp_active">로그인</a>
								<a href="choice_sign_up" class="top-a-tag">회원가입</a>
								<a href="notice_page" class="top-a-tag">고객센터</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-area ">
		<div id="sticky-header" class="main-header-area">
			<div class="container-fluid" id="mid-nav-wd">
				<div class="header_bottom_border">
					<div class="row align-items-center">
						<div class="col-xl-2 col-lg-2">
							<div class="logo">
								<a href="index">
									<img src="resources/assets/main/img/import/img/logo.png" alt="게하모 로고" class="bg_logo">
								</a>
							</div>
						</div>
						<div class="col-xl-10 col-lg-10">
							<div class="main-menu  d-none d-lg-block">
								<nav>
									<ul id="navigation">
										<li><a href="gh_list_page">숙소</a></li>
										<li><a href="#">트립</a></li>
										<li><a href="#">정보</a></li>
										<li><a href="#">교통</a></li>
										<li><a href="#">할인&이벤트</a></li>
										<li><a href="#">커뮤니티</a></li>
									</ul>
								</nav>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d-block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- 헤더 [e] -->

<!-- 검색 area [s]  -->
<div class="newletter_area overlay">
	<form action="search_list_page" method="get">
		<div class="container">
			<div class="row justify-content-left">
				<div class="col-lg-6 d-md-block"> <!-- d-none -->
					<div class="section_title text-left mb_70">
						<a href="javascript:void(0);" class="searchTag sp_active">숙소</a>
						<a href="javascript:void(0);" class="searchTag">트립</a>
						<a href="javascript:void(0);" class="searchTag">지역</a>
					</div>
				</div>
			</div>
			<div class="row justify-content-center align-items-center">
				<div class="col-lg-12">
					<div class="row align-items-center">
						<div class="col-lg-12">
							<div class="mail_form">
								<div class="row no-gutters">
									<div class="col-lg-10 col-md-10">
										<div class="newsletter_field">
											<input type="hidden" id="search_type" name="SEARCH_TYPE">
											<input type="text" id="keyword" name="KEYWORD" placeholder="검색어를 입력하세요.">
										</div>
									</div>
									<div class="col-lg-2 col-md-2">
										<div class="newsletter_btn">
											<button class="boxed-btn4 " onclick="return S_search()">검색</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
<!-- 검색 area [e]  -->