<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" /><!--200825 수정-->
<title>RES | 관리자</title>
<link rel="shortcut icon" type="image/x-icon" href="/ui/admin/images/icon/logo-mini.svg" />

<link rel="stylesheet" href="/ui/plugins/simplebar/simplebar.css"/>
<link rel="stylesheet" href="/ui/plugins/datetimepicker/jquery.datetimepicker.min.css"/>
<link rel="stylesheet" href="/ui/plugins/dhtmlxSuite_v51/skins/material/dhtmlx.css"/>
<link rel="stylesheet" href="/ui/plugins/dhtmlxVault/codebase/vault.css"/>

<link rel="stylesheet" href="/ui/admin/css/common.css"/>
<link rel="stylesheet" href="/ui/admin/css/style.css"/>
<link rel="stylesheet" href="/ui/admin/css/responsive.css"/>

<script type="text/javascript" src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<!--<script type="text/javascript" src="/ClientUI/plugins/jquery.mobile-1.5.0-alpha.min.js"></script>-->
<script type="text/javascript" src="/ui/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/ui/plugins/multifile/jquery.MultiFile.min.js"></script>
<script type="text/javascript" src="/ui/plugins/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="/ui/plugins/jquery.table2excel.js"></script>

<script type="text/javascript" src="/ui/plugins/Ckeditor4/ckeditor.js"></script>
<script type="text/javascript" src="/ui/plugins/simplebar/simplebar.js"></script>
<script type="text/javascript" src="/ui/plugins/dhtmlxSuite_v51/codebase/dhtmlx.js"></script>
<script type="text/javascript" src="/ui/plugins/dhtmlxVault/codebase/vault.js"></script>

<script type="text/javascript" src="/ui/admin/js/style.js"></script>

<!-- Resources -->
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="/ui/plugins/amcharts4/core.js"></script>
<script src="/ui/plugins/amcharts4/charts.js"></script>
<script src="/ui/plugins/amcharts4/themes/animated.js"></script>
<script src="/data/admin/common.js"></script>
