<nav class="sidebar sidebar-offcanvas" id="sidebar"
     xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/admin/dashboard">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">대시보드</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-system" aria-expanded="false" aria-controls="ui-basic">
                <i class="icon-monitor menu-icon"></i>
                <span class="menu-title">시스템관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-system">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/admin/system/commoncode">공통코드관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">메뉴관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">메뉴권한관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">게시판관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-operation" aria-expanded="false" aria-controls="form-elements">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">운영관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-operation">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/">회원관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">배너관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-workplace" aria-expanded="false" aria-controls="charts">
                <i class="icon-cog menu-icon"></i>
                <span class="menu-title">사업장관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-workplace">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/">매장정보</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">고객관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">시술메뉴관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">소모품관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-sales" aria-expanded="false" aria-controls="form-elements">
                <i class="icon-plus menu-icon"></i>
                <span class="menu-title">매출관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-sales">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/">매출통계</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">매출관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">지출관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#menu-calender" aria-expanded="false" aria-controls="tables">
                <i class="icon-clock menu-icon"></i>
                <span class="menu-title">일정관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="menu-calender">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/">휴일관리</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/">영업시간관리</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">상담관리</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/">문의내역</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>