<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>RES</title>
    <!--<link rel="shortcut icon" href="/UI/img/favicon.png">-->
    <link rel="stylesheet" href="/ui/client/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/ui/client/plugins/bootstrap/css/bootstrap-slider.css">
    <link rel="stylesheet" href="/ui/client/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/ui/client/plugins/slick-carousel/slick/slick.css">
    <link rel="stylesheet" href="/ui/client/plugins/slick-carousel/slick/slick-theme.css">
    <link rel="stylesheet" href="/ui/client/plugins/fancybox/jquery.fancybox.pack.css">
    <link rel="stylesheet" href="/ui/client/plugins/jquery-nice-select/css/nice-select.css">
    <link rel="stylesheet" href="/ui/client/css/style.css">
</head>
</html>