<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="container w1100">
    <div class="join_basic_bx">
        <h2>회원가입</h2>

        <div class="join_btn">
            <h3>일반회원으로 가입하기</h3>
            <a href="/member/register" class="icon btn-gehamo nhover">
                <i class="fas fa-home"></i>
                RES 회원가입
            </a>

            <h3>파트너로 가입하기</h3>
            <a href="/partners/register" class="icon btn-partner nhover">
                <i class="fas fa-handshake"></i>
                파트너 회원가입
            </a>
        </div>
    </div>
</div>