<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin/header"></th:block>
    <!--<script src="/data/admin/system/bannerList.js"></script>-->
    <script src="/data/admin/system/categoryList.js"></script>
    <link rel="stylesheet" href="/ui/admin/css/modal.css"/>
</head>
<script>

</script>
<body>
<div id="wrap">
    <th:block th:include="fragments/admin/menu"></th:block>

    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post" th:object="${form}">

                <ul class="breadcrumb">
                    <li><i class="material-icons">home</i></li>
                    <li>운영관리</li>
                    <li>카테고리 관리</li>
                </ul>

                <div class="contents">

                    <!--<ul class="tab">
                        <li th:classappend="${banDvTy eq T(kr.or.btf.web.domain.web.enums.BanDvTy).MAIN ? 'active' : ''}"><a th:href="|/soulGod/banner/list/${T(kr.or.btf.web.domain.web.enums.BanDvTy).MAIN.name()}|">메인배너</a></li>
                        <li th:classappend="${banDvTy eq T(kr.or.btf.web.domain.web.enums.BanDvTy).CARD ? 'active' : ''}"><a th:href="|/soulGod/banner/list/${T(kr.or.btf.web.domain.web.enums.BanDvTy).CARD.name()}|">카드뉴스</a></li>
                    </ul>-->

                    <div class="search_area clearfix">
                        <dl class="col">
                            <dt>제목</dt>
                            <dd>
                                <input type="text" th:field="*{srchWord}" placeholder="검색어를 입력하세요." style="width:400px" />

                                <button class="btn btn_sm btn_gray" onclick="fn_search()">
                                    <i class="material-icons">search</i>조회
                                </button>
                            </dd>
                        </dl>
                    </div>

                    <div class="board_list">
                        <div class="board_top clearfix">
                            <div class="fl">
                                <div class="total_num">총 <b th:text="${#numbers.formatInteger(list.totalElements, 0, 'COMMA')}">2</b></div>
                            </div>
                            <div class="fr">
                                <a class="btn btn_sm btn_blue" href="/admin/operation/category/add">
                                    <i class="material-icons">library_add</i>카테고리 추가
                                </a>
                            </div>
                        </div>

                        <table class="tbl_list mo_tbl_list">
                            <!--<colgroup>
                                <col style="width:5%" />
                                <col style="width:10%" />
                                <col style="width:auto" />
                                <col style="width:20%" />
                                <col style="width:10%" />
                                <col style="width:12%" />
                            </colgroup>-->
                            <thead>
                            <tr>
                                <th scope="col">No</th>
                                <th scope="col">카테고리 이름</th>
                                <th scope="col">카테고리 구분</th>
                                <th scope="col">등록일</th>
                                <th scope="col">등록자</th>
                            </tr>
                            </thead>

                            <tbody>
                            <!-- 등록된 데이터가 없을 때만 노출 : s -->
                            <tr th:if="${list == null or list.isEmpty()}">
                                <td colspan="7">등록된 정보가 없습니다.</td>
                            </tr>
                            <!-- 등록된 이벤트가 없을 때만 노출 : e -->
                            <tr th:each="item,idx : ${list}">
                                <td th:text="${list.totalElements - list.pageable.pageSize * list.pageable.pageNumber - idx.index}"></td>
                                <td>
                                    <b>
                                        <a th:href="|/admin/operation/category/detail/${item.id}|"  th:text="${item.categoryNm}"></a>
                                    </b>
                                </td>
                                <td>
                                    <strong class="th">구분</strong>
                                    <th:block th:if="${item.cateDvTy eq 'MAIN'}">
                                        <div>메인 카테고리</div>
                                    </th:block>
                                    <th:block th:if="${item.cateDvTy eq 'SUB'}">
                                        <div>서브 카테고리</div>
                                    </th:block>
                                </td>
                                <td>
                                    <strong class="th">등록일</strong>
                                    <div th:text="|${#temporals.format(item.regDtm,'yyyy-MM-dd')}|"></div>
                                </td>
                                <td>
                                    <strong class="th">등록자</strong>
                                    <div th:text="${item.regPsid}"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <th:block th:replace="/fragments/admin/paging :: pagingbody(list=${list},
                                            link='/admin/operation/category/list' , formId='form1')"></th:block>
                    </div>
                </div>
            </form>
        </div>

        <th:block th:replace="fragments/admin/footer"></th:block>
    </div>
</div>
</body>
<!--카테고리 모달창. 모달창 미구현-->
<!--<div class="modal_bg" id="modal_bg">
    <div class="category_modal" id="category_modal">
        <form id="form2" name="form2" action="/admin/operation/category/register">
            <input id="categoryNm" name="categoryNm" placeholder="추가 할 카테고리명을 입력해주세요. (최소 2자)">
            &lt;!&ndash;submit btn&ndash;&gt;
            <button type="submit" class="btn btn_sm btn_green">
                <i class="material-icons">add</i>등록
            </button>
            &lt;!&ndash;close btn&ndash;&gt;

            <a onclick="fn_closeModal()" class="btn btn_sm btn_red">
                <i class="material-icons">close</i>닫기
            </a>
        </form>
    </div>
</div>-->
<!--<div id="popSchool" class="layer_popup">
    <div class="dim"></div>
    <div class="popup_area">
        <div class="popup">
            <div class="pop_tit">카테고리 등록</div>

                <form id="form2" name="form2" method="get" action="/admin/operation/category/register">

                    <div class="pop_cont">
                        <ul class="write_form mb20">
                            <li>
                                <div class="th">카테고리</div>
                                <div class="td">
                                    <div class="email_form clearfix">
                                        <input type="text" id="srchSchlNm" name="srchSchlNm" placeholder="카테고리명을 입력해주세요. (최소 2자 이상)">
                                    </div>

                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="btn_area">
                        <a class="btn btn_sm btn_green" type="submit">
                            <i class="material-icons">library_add</i>등록
                        </a>
                        <a class="btn btn_sm btn_red" href="javascript:layerHide('popSchool')">
                            <i class="material-icons">close</i>닫기
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
</html>
