<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin/header"></th:block>
    <script src="/data/admin/system/categoryList.js"></script>
</head>
<body>
<div id="wrap">
    <th:block th:include="fragments/admin/menu"></th:block>

    <div id="container">
        <div class="container_box">
            <form id="form1" name="form1" method="post">
                <div class="contents">
                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>운영관리</li>
                        <li>카테고리 관리</li>
                    </ul>
                    <div class="board_detail">
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit">카테고리 상세정보</h4>
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert">

                            </div>
                            <table class="tbl_write">
                                <caption>배너상세 정보</caption>

                                <colgroup>
                                    <col style="width:140px" />
                                    <col style="width:calc(50% - 140px)" />
                                </colgroup>

                                <tbody>
                                <tr>
                                    <th scope="row">카테고리 구분<span class="aster">*</span></th>
                                    <td>
                                        <div class="radio txt" th:each="tp,idx : ${T(kr.co.team.res.domain.enums.CateDvTy).values()}">
                                            <input type="radio" name="cateDvTy" th:id="|cateDvTy${tp.name()}|" th:value="${tp.name()}" onclick="fn_hide()"/>
                                            <label th:for="|cateDvTy${tp.name()}|" th:text="${tp.getName()}">메인</label>
                                        </div>

                                    </td>
                                </tr>

                                <tbody id="main_div">
                                    <tr>
                                        <th scope="row">카테고리 명<span class="aster">*</span></th>
                                        <td><input id="category_nm" name="categoryNm"/></td>
                                    </tr>

                                    <tr>
                                        <th scope="row">카테고리 용도<span class="aster">*</span></th>
                                        <td>
                                            <textarea id="category_dsc" name="categoryDsc"></textarea>
                                        </td>
                                    </tr>
                                </tbody>

                                <tbody id="sub_div">
                                    <tr>
                                        <th scope="row">메인 카테고리<span class="aster">*</span></th>
                                        <td>
                                            <select id="selectCate" th:field="${mclist}">
                                                <option value="" selected>메인 카테고리를 선택해주세요.</option>
                                                <option th:each="item : ${mclist}" th:value="${item.id}" th:text="${item.categoryNm}"></option>
                                            </select>
                                            <input id="categoryPid" name="categoryPid" type="hidden">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">카테고리 명<span class="aster">*</span></th>
                                        <td><input id="subcategory_nm" name="subcategoryNm"/></td>
                                    </tr>
                                </tbody>

                                </tbody>
                            </table>
                            <div class="btn_area">
                                <button id="btnSave" class="btn btn_sm btn_blue">
                                    <i class="material-icons fz17">done</i>저장
                                </button>
                                <a href="/admin/operation/category/list" class="btn btn_sm btn_lightgray">
                                    <i class="material-icons mr1 fz19">subject</i>카테고리 목록
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <th:block th:replace="fragments/admin/footer"></th:block>
    </div>
</div>
</body>
</html>
