<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="fragments/admin/header"></th:block>
    <script src="/data/admin/system/boardDetail.js"></script>
</head>
<body>
<div id="wrap">
    <th:block th:include="fragments/admin/menu"></th:block>

    <div id="container">
        <div class="container_box">

            <form id="form1" name="form1" method="post" th:object="${form}">
                <input type="hidden" th:field="*{id}"/>
                <div class="contents">

                    <ul class="breadcrumb">
                        <li><i class="material-icons">home</i></li>
                        <li>시스템관리</li>
                        <li>게시판마스터</li>
                    </ul>

                    <div class="board_detail clearfix">
                        <div class="sec">
                            <div class="board_top clearfix">
                                <div class="fl">
                                    <h4 class="sec_tit">상세정보</h4>
                                </div>
                            </div>
                            <div class="alert alert-warning alert-dismissible fade show" role="alert"
                                 th:if="${message}">
                                <strong th:text="${message}">message!</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <table class="tbl_write">
                                <colgroup>
                                    <col style="width:10%"/>
                                    <col style="width:auto"/>
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row"><label>말머리구분</label></th>
                                    <td th:text="*{sntncHead}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>게시판타입</label></th>
                                    <td th:text="*{T(kr.co.team.res.domain.enums.BoardType).valueOf(bbsTy).getName()}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>게시판ID</label></th>
                                    <td th:text="*{id}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>게시판명</label></th>
                                    <td th:text="*{bbsNm}"></td>
                                </tr>
                                <tr>
                                    <th scope="row"><label>게시판상단</label></th>
                                    <td>
<!--                                        <div class="scrollbar h100 editor"-->
<!--                                             th:utext="*{#strings.replace(bbsUpendCn, T(System).getProperty('line.separator'), '&lt;br /&gt;')}">-->
<!--                                        </div>-->
                                        <div class="scrollbar h100 editor"
                                             th:utext="*{bbsUpendCn}">

                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="btn_area">
                                <!--<button id="btnDelete" class="btn btn_sm btn_red" type="button">
                                    <i class="material-icons">delete</i>삭제
                                </button>-->
                                <a class="btn btn_sm btn_blue"th:href="|/admin/boardMaster/modify/*{id}|">
                                    <i class="material-icons fz17">done</i>수정
                                </a>
                                <a class="btn btn_sm btn_lightgray" href="/admin/system/boardList">
                                    <i class="material-icons">list</i>목록
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <th:block th:replace="fragments/admin/footer"></th:block>
</div>
</body>
</html>
